.videoThumbnail{
    width: 275px;
    height: 150px;;
}

.videoCard{
    background-color: white;
    width: 350px;
    height: 250px;
    border: 1px solid #f5f5f5;
    border-radius: 15px;

}

.videoCard:hover{
    background-color: #f5f5f5;
}

.videoTitle{
    font-size: .85em;
    font-weight: bold;
    padding-left: 20px;

}



.videoInfo{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.videoData{
    display: flex;
    flex-direction: row;
    font-size: .7em;
    padding-left: 30px;
}

.videoSecondInfo{
    display: flex;
    flex-direction: row;
    padding-top:none;
    padding-left: 40px;
}