.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly */
    width: 100%;
    box-sizing: border-box;
}


.logo {
    position: static;
    width: 5em;
    height: 5em;
    margin-left: 20px;
    cursor: pointer;
}

.searchField{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #007bff;
    padding: 5px;
    margin-left: 20px;
}

.profilePic{
    width: 70px;
    height: 55px;
    margin-left: 150px;
    padding-right: 20px;

}
.uploadButton{
    padding: 8px;
    background-color: #007bff;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

